.header {
  margin-bottom: $m-size;
  padding: $s-size 0;
  background-color: $off-black;

  h1 {
    font-size: $l-size;
    text-transform: capitalize;
    margin: 0;
  }

  h2 {
    font-size: $s-size;
    text-transform: capitalize;
    color: $off-white;
  }
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
    padding: $m-size;
    
    h1 {
      font-size: $xl-size;
    }

    h2 {
      font-size: $m-size;
    }
  }
}
